name: Epic Games Claimer (Windows)
on:
  workflow_dispatch: # Manuel başlatma butonu
  schedule:
    - cron: '0 19 * * 4' # Her Perşembe akşamı
jobs:
  claim:
    runs-on: windows-latest # Windows sunucusu kullan
    steps:
      - uses: actions/checkout@v4
      
      - name: Setup Node.js
        uses: actions/setup-node@v4
        with:
          node-version: '20'

      - name: Install Dependencies
        run: npm install --include=dev

      - name: Install Playwright Browsers
        run: npx playwright install firefox --with-deps

      - name: Run Claimer
        shell: pwsh # Windows üzerinde PowerShell kullanır
        env:
          EG_EMAIL: ${{ secrets.EG_EMAIL }} #
          EG_PASSWORD: ${{ secrets.EG_PASSWORD }} #
        run: npm start -- --epic-games #

