name: Epic Games Claimer
on:
  workflow_dispatch: # Manuel başlatma butonu ekler
  schedule:
    - cron: '0 19 * * 4' # Her Perşembe akşamı 19:00'da otomatik çalışır
jobs:
  claim:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - uses: actions/setup-node@v4
        with:
          node-version: '20'
      - run: npm install
      - run: npx playwright install firefox --with-deps
      - name: Run Claimer
        env:
          EG_EMAIL: ${{ secrets.EG_EMAIL }}
          EG_PASSWORD: ${{ secrets.EG_PASSWORD }}
        run: node epic-games
